.badge_header {margin-bottom:-15%;}
#Free-Pack-Body .h5 {color: var(--base-color); padding: 0 20px;}
#Free-Pack-Body svg {max-width: 220px;}
@media (max-width:991px){
    #Free-Pack-Body svg {
        max-width: 110px;
        height: auto;
    }
}