.a1{
  margin-top: 5rem;
  background-color: aliceblue;
  width: 50%;
}

.payment-page h2{
  text-align: center;
  font-weight: bold;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3.2vw;
  background: -webkit-linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 1.5rem;
  
}
.payment-page1{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;

  width: 100%;
  height:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stripe1-payment1{
  box-sizing: border-box;
 width: 50%;
 height: 32.5vh;
 background-color: aliceblue;
 display: flex;
 justify-content: center;
 align-items: center;

}
.stripe1-payment1:hover{
  transform: scale(1.1);
}

 .stripe-logo1{
  background-color:blue;
   font-family: 'Inter';
  color: white;
  font-weight: bolder;
  font-size: 40px;
}



.href1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  text-decoration: none;
}

.stripe-div1{
 width: 12vw;
 height: 22vh;
 background-color: blue;
 display: flex;
 justify-content: center;
 align-items: center;
}

.hr1{
  width: 50%;
  height:3px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
}
.a1:hover{
  transform: scale(1.1);
}







