.a2{
  margin-top: 5rem;
  background-color: rgb(255, 255, 255);
  width: 50%;
  border: 3px solid transparent;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.a2:hover{
  transform: scale(1.1);
  border:5px solid #76b828;
}



.a2:hover::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #76b828 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
 }

 .a2:hover::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  font-size: 1.4rem;
  
 }

.payment-page2 h1{
  text-align: center;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 3.2vw;
  background: -webkit-linear-gradient(rgb(137, 77, 77), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  top: 1.5rem;
  
}
.payment-page2{
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
  background-blend-mode: multiply,multiply; */
  width: 100%;
  height:100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}




.stripe-payment2{
 width: 50%;
 height: 32.5vh;
 background-color: rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.stripe-payment2:hover{
  transform: scale(1.1);
  border:5px solid #76b828;
}

.stripe-payment2:hover::before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 64px 64px 0 0;
  border-color: #76b828 transparent transparent transparent;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
 }

 .stripe-payment2:hover::after {
  font-family: "FontAwesome";
  content: "\f00c";
  color: white;
  position: absolute;
  left: 9px;
  top: 6px;
  font-size: 1.4rem;
  
 }

 

.stripe-payment2 a{
 text-decoration: none;
 width: 100%;
 height: 30vh;
 background-color:rgb(255, 255, 255);
 display: flex;
 justify-content: center;
 align-items: center;
}
.stripe-payment2 a img{
  width: 90%;
  height: 25vh;
}



.hr2{
  width: 50%;
  height:2px;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}





