.payment {
    margin-top: 6vw;
    margin-bottom: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foot {
    background-color: #7B645A;
    width: 100%;
    height: 20vw;
}

.box {
    width: 50%;
}