@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

.div {
    /* background-image: url("C:\Users\HP\Downloads\robot logo NO BG.png"); */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 5rem;
    background-size: 100% 180%;

}

.main-body {

    backdrop-filter: blur(2px);
}

.row {

    display: flex;
    justify-content: center;
    align-items: center;


}

.pricing-header {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing-header label {
    font-size: 4vw;
    font-weight: bold;
    color: #130B0F;
}

.card1 {
    width: 18rem;
    height: 28rem;
    background-color: #f5f3ef;
    color: #130B0F;
    margin-right: 20px;
}

.head {
    padding: 10px;
}

#body-card1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-card1 ul {
    padding: 1rem;
    list-style-type: '✔️';
}

#body-card1 ul li {
    padding: 5px;
    text-shadow: 1px 1px 3px #7B645A;
    font-size: x-large;
}

.card1-footer {
    margin-top: 2rem;
}

.card2 {
    width: 18rem;
    height: 28rem;
    background-color: #f5f3ef;
    color: #130B0F;
    border-radius: 5px;
}

.head {
    color: #130B0F;
    padding: 10px;

    border-radius: 5px;
}

#body-card2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-card2 ul {
    padding: 1rem;
    list-style-type: '✔️';


}

#body-card2 ul li {
    padding: 5px;
    text-shadow: 1px 1px 3px #7B645A;
    font-size: x-large;
}


#card2-footer {
    margin-top: 2rem;
}




.card3 {
    width: 18rem;
    height: 28rem;
    background-color: #f5f3ef;
    color: #130B0F;
}

.head {
    color: #130B0F;
    padding: 10px;
}

#body-card3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#body-card3 ul {
    padding: 1rem;
    list-style-type: '✔️';
}

#body-card3 ul li {
    padding: 5px;
    text-shadow: 1px 1px 3px #7B645A;
    font-size: x-large;
}


#card3-footer {
    margin-top: 2rem;
}

.btn5 {
    width: 10rem;
    height: 2.5rem;
    border-style: none;
    border-radius: 5px;
}

.btn6 {
    width: 10rem;
    height: 2.5rem;
    border-style: none;
    border-radius: 5px;
}

.btn7 {
    width: 10rem;
    height: 2.5rem;
    border-style: none;
    border-radius: 5px;
}